<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title | escape }} - Senkmer</title>
    {{ content_for_header }}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="site-header"><div class="container"><a href="/">Senkmer</a></div></header>
    <main> {{ content_for_layout }} </main>
    <footer class="site-footer"><div class="container">© {{ 'now' | date: '%Y' }} Senkmer</div></footer>
    {{ content_for_footer }}
  </body>
</html>