<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}{{ shop.name | prepend: ' - ' }}</title>
  
  {{ content_for_header }}
  
  {{ 'layout-1.css' | asset_url | stylesheet_tag }}
  {{ 'layout-2.css' | asset_url | stylesheet_tag }}
  {{ 'layout-3.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% section 'header' %}
  
  <main role="main">
    {{ content_for_layout }}
  </main>
  
  {% section 'footer' %}
  {% section 'chatbot' %}
  
  {{ 'layout-1.js' | asset_url | script_tag }}
</body>
</html>
